* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
   
}

h1,
h2,
h3,
h4 {
    line-height: 1.3;
}

ul {
    list-style: none;
}

input[type=text] {
    width: 20rem;
    height: 2rem;
    border-radius: 0.3rem;
    box-shadow:inset 0 0 2px 0;
}

::placeholder {
    padding-left: 1.5rem;
}


/* Header */

.header {
    width: 100vw;
    height: 100vh;
    margin: auto;
    overflow: hidden;
    background: linear-gradient(45deg, hsl(243, 87%, 12%), hsl(243, 86%, 85%));
    background-repeat: no-repeat, repeat;
    clip-path: polygon(0 0, 0 81%, 100% 100%, 100% 0%);
}

.header .navbar {
    display: flex;
    justify-content: space-between;
}

.navbarlogo {
    padding-top: 2rem;
    padding-left: 3rem;
}

.header .nav {
    display: flex;
    justify-self: flex-end;
    padding-top: 2rem;
    padding-right: 3rem;
}

.signin {
    padding-right: 1.5rem;
    color: white;
}

.btn1 {
    border: none;
    background: hsl(163, 95%, 43%);
    color: #FFF;
    width: 8rem;
    height: 2.4rem;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}


/* Header Content */

.header .header-content {
    display: flex;
    justify-content: space-between;
}

.header-content .header-content-1 {
    padding: 10rem 0rem 0 3rem;
}

.content-h1 {
    font-size: 1rem;
    color: #FFF;
}

.btn2 {
    border: none;
    background: hsl(163, 95%, 43%);
    color: #FFF;
    width: 12rem;
    height: 2.5rem;
    font-size: 13px;
    cursor: pointer;
    margin-top: 2rem;
    border-radius: 5px;
}

.header-content .header-img {
    width: 30rem;
    height: 25rem;
    position: relative;
    padding-top: 5rem;
    padding-right: 5rem;
}


/* Section 1 */

.section1 .content1 {
    text-align: center;
    padding: 4rem;
    color: darkblue;
}


/* Section 2 */

.section2 {
    padding-top: 3rem;
}

.content-img {
    float: left;
    width: 300px;
    height: 300px;
  
    margin-left: 8rem;
}



.grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    color: black;
    font-size: 10px;
    grid-gap: 2rem;
    padding-left: 6rem;
    padding-right: 5rem;
}

.grid p {
    font-size: 0.8rem;
}

.grid h1 {
    color: darkblue;
}


/* Section 3 */

.content3 {
    text-align: center;
    padding-top: 10rem;
}

.para {
    color: darkblue;
}

form {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

button[btn-join1] {
    color: #FFF;
    width: 10rem;
    height: 2rem;
  
    background: hsl(163, 95%, 43%);
    border-radius: 0.2em;
    cursor: pointer;
    border: none;
}


/* Footer */

.footer {
    display: flex;
    padding-top: 6rem;
    background: hsl(243, 87%, 12%);
    clip-path: polygon(0 0, 0 100%, 100% 99%, 100% 8%);
    font-family: 'Open sans', sans-serif;
    color: white;
}

.item5 {
    padding-left: 5rem;
}

.item5 .img1 {
    padding-bottom: 1.5rem;
}

.item5 .img3 {
    padding-top: 0.7rem;
}

.footer .contentfooter {
    display: flex;
    flex: 2;
    padding-left: 2rem;
}

.fyloitem {
    display: flex;
    flex: 1;
    border-left: thin solid white;
    border-right: thin solid white;
    justify-content: space-between;
    padding-left: 2rem;
}

.item6:last-child {
    padding-right: 3rem;
}

.item7 {
    padding-left: 3rem;
    flex: 1;
}

.item7 form {
    align-content: left;
}

button[btn-join2] {
    color: #FFF;
    width: 10rem;
    height: 2rem;
    border: none;
    background: hsl(163, 95%, 43%);
    border-radius: 0.2em;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 10rem;
}

@media(max-width:768px) {

    body{
        overflow-x: hidden;
    }
    .header .nav {
        padding-right: 2rem;
    }
    .navbarlogo {
        padding-left: 1rem;
    }
    .header .header-content {
        display: flex;
        flex-direction: column-reverse;
        height: 66vh;
        text-align: center;
    }
    .header-content .header-content-1 {
        margin-top: -7rem;
        margin-right: 4rem;
    }
    .header-content .header-img {
        width: 22rem;
        height: 17rem;
        padding-left: 2rem;
    }
    .section2 .content-img {
        width: 27rem;
        height: 17rem;
        padding-right: 15rem;
    }
    .grid {
        display: flex;
        flex-direction: column;
        padding-top: 4rem;
    }
    .grid p {
        padding-bottom: 1rem;
    }
    .content3 {
        margin-top: -7rem;
    }
    button[btn-join1] {
        width: 20rem;
        margin-left: -0.2rem;
        margin-top: 0.5rem;
    }
    .footer {
        flex-direction: column;
        align-items: center;
    }
    .item5 {
        padding-top: 3rem;
        padding-right: 9.5rem;
    }
    .contentfooter {
        flex-direction: column-reverse;
    }
    .fyloitem {
        flex-direction: column;
        border: none;
    }
    .item6 {
        padding-bottom: 2rem;
    }
    .item7 {
        padding-top: 3rem;
        padding-right: 3rem;
    }
    .content3 {
        margin-top: -7rem;
    }
    button[btn-join1] {
        width: 20rem;
        margin-left: -0.2rem;
        margin-top: 0.5rem;
    }