* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
}


/* Header */

.header {
    background: linear-gradient(45deg, hsl(243, 87%, 12%), hsl(243, 86%, 85%));
    background-repeat: no-repeat, repeat;
    clip-path: polygon(0 0, 0 81%, 100% 100%, 100% 0%);
    
}

.header .navbar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header .navbar-content {
    display: flex;
    justify-self: flex-end;
}

.header-img {
    float: right;
}

.navbar-img {
    margin-top: 3rem;
    margin-left: 5rem
}

.navbar-content {
    margin-top: 2rem;
    margin-right: 2rem; 
}

.btn1 {
    border: none;
    background: hsl(163, 95%, 43%);
    color: #FFF;
    width: 8rem;
height: 2rem;
    font-size: 16px;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 5px;
}

.par {
    margin-right: 1rem;
    margin-top: 1.3rem;
    color: white;
}

.har{
    font-size: 1rem;
    
}

.header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.btn2 {
    border: none;
    background: hsl(163, 95%, 43%);
    color: #FFF;
    width: 10rem;
    height: 2.5rem;
    font-size: 13px;
    cursor: pointer;
    margin-top: 2rem;
    border-radius: 5px;
}

.content {
    margin-left: 5rem;
    color: white;
    margin-top: 5rem;
}

.header-img {
    width: 17rem;
    height: 15rem;
    margin-bottom: 7rem;
    margin-right: 7rem;
    margin-top: 3rem;
   
}


/* Section 1 */

.content1 {
    text-align: center;
    padding-top: 3rem;
}




/* Section 2 */

.section2 {
    padding-top: 2rem;
}

.content-img {
    float: left;
    width: 300px;
    height: 300px;
    margin-left: 8rem;
    margin-top: 5rem;
}



.par2{
    font-size: 1rem;
}


.grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    color: black;
    font-size: 10px;
    grid-gap: 2rem;
    padding-left: 10rem;
    padding-right: 5rem;
    padding-top: 2rem;
}

form {
    padding-top: 1rem;
    padding-bottom: 2rem;
}


/* Section 3 */

.content3 {
    text-align: center;
    padding-top: 10rem;
}



    
   /* Section 4 
*/


.footer{
    display: flex;
    justify-content: space-around;
    background: hsl(243, 87%, 12%);
    clip-path: polygon(0 0, 0 100%, 100% 99%, 100% 8%);
    font-family: 'Open sans', sans-serif;
    color: white;
    padding-top: 10rem;
}

button[btn-join] {
    color: #FFF;
    width: 150px;
    height: 25px;
    border: none;
    background: hsl(163, 95%, 43%);
    border-radius: 0.2em;
    cursor: pointer;
    margin-top: 1rem;
    flex-direction: flex-end;
}



ul {
    list-style: none;
    padding-top: 2rem;
}
    #contentt{
        display:flex;
        flex-basis: 35rem;
        justify-content: space-between;
        border-left: thin solid white;
        border-right: thin solid white;
        padding-right: 2rem;
        padding-left: 2rem;
        
    }

    .img3{
        margin-top:1rem;
    }






/* Media Queries */

@media(max-width:500px) {

    
    .footer{
        display:flex;
        flex-direction: column;
    }

    .grid{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .header-content{
        display:flex;
        flex-direction: column-reverse;
    }
form{
    display:flex;
        flex-direction: column;
    justify-content: space-between;
}

    

    #contentt{
        display:flex;
        flex-direction: column;
        margin-top: 2rem;
    }

    .boxcontent5{
        margin-top: 1rem;
    }

    
}